<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>{{ selected_company['company_name']|capitalize }} Company Data</title>
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
</head>

<body>
    <style>
        .chart {
            width: 100%;
            height: 400px;
            margin: 20px 0;
        }
    </style>
    <div class="p-6">
        <form method="get" action="/">
            <select name="company" id="company" onchange="this.form.submit()"
                class="block w-fit px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-300 rounded-lg shadow-sm focus:ring-2 focus:ring-blue-500 focus:outline-none">
                {% for company in companies %}
                <option value="{{ company['company_name']}}" {% if
                    company['company_name']==selected_company['company_name'] %}selected{% endif %}>
                    {{ company['company_name'] }}
                </option>
                {% endfor %}
            </select>
        </form>
        <div class="max-w-3xl mt-5">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div>
                    <p class="text-lg text-gray-700"><strong>City:</strong> {{ selected_company.get('city', 'N/A') }}
                    </p>
                    <p class="text-lg text-gray-700"><strong>State:</strong> {{ selected_company.get('state', 'N/A') }}
                    </p>
                    <p class="text-lg text-gray-700"><strong>Country:</strong> {{ selected_company.get('country', 'N/A')
                        }}</p>
                    <p class="text-lg text-gray-700"><strong>Founded:</strong> {{ selected_company.get('founded', 'N/A')
                        }}</p>
                    <p class="text-lg text-gray-700"><strong>Ticker:</strong> {{ selected_company.get('ticker', 'N/A')
                        }}</p>
                </div>

                <div>
                    <p class="text-lg text-gray-700"><strong>Industry:</strong> {{ selected_company.get('industry_list',
                        'N/A')|replace('{', '') |replace('}', '')|replace('"', '')|replace('"', '') }}</p>
                    <p class="text-lg text-gray-700"><strong>Employee Count:</strong> {{
                        selected_company.get('employee_count', 'N/A') }}</p>
                    <p class="text-lg text-gray-700"><strong>Size:</strong> {{ selected_company.get('size', 'N/A') }}
                    </p>
                    <p class="text-lg text-gray-700"><strong>LinkedIn:</strong> <a
                            href="https://{{ selected_company.get('linkedin', '#') }}" target="_blank"
                            class="text-blue-600 hover:underline">{{ selected_company.get('linkedin', 'N/A') }}</a></p>
                    <p class="text-lg text-gray-700"><strong>Website:</strong> <a
                            href="https://{{ selected_company.get('website', '#') }}" target="_blank"
                            class="text-blue-600 hover:underline">{{ selected_company.get('website', 'N/A') }}</a></p>
                </div>
            </div>

            <div class="mt-6">
                <p class="text-lg text-gray-700"><strong>Description:</strong> {{ selected_company.get('description',
                    'N/A') }}</p>
                <p class="text-lg text-gray-700"><strong>Founders:</strong> {{ selected_company.get('founders',
                    'N/A')|replace('{', '') |replace('}', '')|replace('"', '')|replace('"', '') }}</p>
                <p class="text-lg text-gray-700"><strong>CEO:</strong> {{ selected_company.get('ceo', 'N/A')
                    |replace('{', '') |replace('}', '')|replace('"', '')|replace('"', '') }}</p>
            </div>
        </div>
        <div class="mt-10">
            <div id="main-chart" class="chart"></div>
            <div id="job-family-chart" class="chart"></div>
        </div>
    </div>

    <script>
        function toSentenceCase(str) {
            return str.charAt(0).toUpperCase() + str.slice(1).toLowerCase();
        }

        // Convert city data from Python to JavaScript
        const cityData = {{ state_city_data | safe }};
        const jobFamilyData = {{ job_family_data | tojson }};
        
        const stateCityArray = Object.entries(cityData).map(([state, cities]) => ({
            name: state,
            value: cities,
        }));
        
        const jobFamilyChart = echarts.init(document.getElementById('job-family-chart'));
        jobFamilyChart.setOption({
            title: { text: 'USA Job Distribution by Job Family' },
            tooltip: {},
            xAxis: {
                type: 'category',
                data: jobFamilyData.map(item => toSentenceCase(item.name))
            },
            yAxis: { type: 'value' },
            series: [{
                type: 'bar',
                barWidth: '40%',
                data: jobFamilyData.map(item => item.count)
            }]
        });
    
        // USA Population Map
        const mainChart = echarts.init(document.getElementById('main-chart'));
        mainChart.showLoading();

        fetch('/static/USA.json')
            .then(response => response.json())
            .then(usaJson => {
                mainChart.hideLoading();
                echarts.registerMap('USA', usaJson, {
                    Alaska: {
                        left: -131,
                        top: 25,
                        width: 15
                    },
                    Hawaii: {
                        left: -110,
                        top: 28,
                        width: 5
                    },
                    'Puerto Rico': {
                        left: -76,
                        top: 26,
                        width: 2
                    }
                });

                const option = {
                    title: {
                        text: 'USA Job Distribution by City',
                        subtext: 'Data from MylaneAI',
                        left: 'left'
                    },
                    tooltip: {
                        formatter: function (params) {
                            if (params.data && Array.isArray(params.data.value)) {
                                const mappedData = params.data.value
                                    .map(item => `<li class="text-sm text-gray-700"><strong class="text-blue-600">${item.city}</strong>: ${item.position_count} positions</li>`)
                                    .join('');
                        
                                return `
                                    <div class="p-3 bg-white border border-gray-200 rounded shadow-lg">
                                        <p class="text-lg font-bold text-gray-800">${params.data.name}</p>
                                        <ul class="mt-2 list-disc pl-5">${mappedData}</ul>
                                    </div>
                                `;
                            }
                            return `
                                <div class="p-3 bg-white border border-gray-200 rounded shadow-lg">
                                    <p class="text-lg font-bold text-gray-800">${params.name}</p>
                                    <p class="text-sm text-gray-600">No data available</p>
                                </div>
                            `;
                        },
                        trigger: 'item',
                        showDelay: 0,
                        transitionDuration: 0.2
                    },
                    series: [
                        {
                            name: 'USA City Job posts',
                            type: 'map',
                            map: 'USA',
                            emphasis: {
                                label: {
                                    show: true
                                }
                            },
                            data: stateCityArray
                        }
                    ]
                };
                mainChart.setOption(option);
            })
            .catch(error => {
                console.error('Error loading USA.json:', error);
                mainChart.hideLoading();
            });
    </script>
</body>

</html>